*{
    margin: 5px;
}
header{
    width: 100%;
    height: 80px;
    background-color: beige;
}
nav{
    width: 100%;
    height: 40px;
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 20px;
}
section{
    width: calc(100% - 50px);
    height: 240px;
    background: linear-gradient(#22c1c3, #fdbb2d);
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 50px;
    

}
article{
    width: 40%;
    height: 80px;
    background-color:aqua;
    margin-top: 10px;
    float: left;
}
aside{
    width: 40%;
    height: 190px;
    background-color: aqua;
    float: right;
    margin-right: 50px;

}
footer{
    width: 100%;
    height: 80px;
    background-color:aqua;